<div *ngIf="competition" class="league-content">
  <div *ngIf="utilsService.role === 1 || utilsService.role === 0">
    <h5> {{ 'COMPETITIONS.TITLE' | translate }} > {{ competition.name }} </h5>


    <div class="a-content">
     <a mat-raised-button class="classification" (click)="gotoClassification()">
       <strong>{{ 'CLASSIFICATION.TITLE' | translate }}</strong>
     </a>
    </div>

    <div class="a-content">
        <a mat-raised-button class="journeys" (click)="gotoJourneys()">
          <strong>{{ 'COMPETITIONS.JOURNEYS' | translate }}</strong>
        </a>
   </div>

    <div class="a-content" *ngIf="teams">
      <a mat-raised-button class="teams" (click)="gotoTeams()">
       <strong>{{ 'COMPETITIONS.TEAMS' | translate }}</strong>
      </a>
    </div>

   <div *ngIf="utilsService.role === 1" class="accordeon-journeys-info-results">

    <mat-accordion>

      <mat-expansion-panel class="option1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong  class="edit">{{ 'COMPETITIONS.MOD_DATE' | translate }}</strong>
          </mat-panel-title>
          <mat-panel-description>
            {{ 'COMPETITIONS.MOD_DATE2' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>

             <!-- Cuantas jornadas haya-->

                <form [formGroup]="journeysFormGroup">

                  <mat-form-field>
                       <mat-select #journeyId placeholder="Jornada a modificar"
                            formControlName="id" required>
                         <mat-option *ngFor="let journey of notCompletedJourneys" [value]="journey.id">
                           {{ journey.number }}
                         </mat-option>
                       </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput [matDatepicker]="picker" formControlName="date"
                      placeholder="Nueva fecha" required>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <div>
                    <button mat-raised-button class="edit-btn" (click)="onSubmitJourney(journeysFormGroup.value)" [disabled]="!journeysFormGroup.valid">
                        <b>Modificar</b>
                    </button>
                  </div>

                </form>
            </mat-expansion-panel>

            <mat-expansion-panel class="option2">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      <strong class="edit">{{ 'COMPETITIONS.MOD_TEXT' | translate }}</strong>
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ 'COMPETITIONS.MOD_TEXT2' | translate }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="informationFormGroup">
                <mat-form-field class="text-info">
                    <textarea matInput [value]="information"
                     formControlName="information" required></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button class="edit-btn" (click)="onSubmitInformation(informationFormGroup.value)" [disabled]="!informationFormGroup.valid">
                        <b>Modificar</b>
                    </button>
                </div>
                 </form>
              </mat-expansion-panel>

      <mat-expansion-panel class="option3">
        <mat-expansion-panel-header (click)="loadResultSection()">
          <mat-panel-title>
           <b>{{ 'COMPETITIONS.INTR_RESULT' | translate }}</b>
          </mat-panel-title>
          <mat-panel-description>
           {{ 'COMPETITIONS.INTR_RESULT2' | translate }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="this.notCompletedJourneys.length !== 0">
        <div *ngIf=!matchesUploaded>
          <p><b>¿De qué forma desea introducir los resultados de la jornada {{ journeyMatch.number }}?</b></p>
          <button [disabled]="option === 'Manualmente'" class="btn-rnd" mat-raised-button (click)="showResults()">
            <b>Manualmente</b>
          </button>
          <button [disabled]="option === 'Aleatoriamente'" class="btn-rnd" mat-raised-button (click)="showResults()">
            <b>Aleatoriamente</b>
          </button>
          <p>Has seleccionado: <b>{{option}}</b> </p>

        <mat-card *ngIf="option === 'Manualmente'">
            <p><b>{{ 'COMPETITIONS.INTR_RESULT3' | translate }}  {{ journeyMatch.number }}:</b></p>
            <form [formGroup]="resultsFormGroup">
              <div class="form-group" formArrayName="results">
                <div *ngFor="let match of resultsFormGroup.controls.results.controls ;let i=index;">
                 <div class="panel-body" [formGroupName]="i">
                    <mat-radio-group  formControlName="winner" required>
                      <div>
                        <mat-radio-button class="match{{n}}" [value]="match" *ngFor="let match of showMatches[i];let n=index;">
                          {{ match }}
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                 </div>
                </div>
              </div>

              <div>
                <button mat-raised-button class="edit-btn" (click)="onSubmitResults(resultsFormGroup.value)" [disabled]="!resultsFormGroup.valid">
                  <b>Introducir resultados</b>
                </button>
              </div>
            </form>
          </mat-card >
          <mat-card  *ngIf="option === 'Aleatoriamente'">
              <p><b>Si desea introducir los resultados de la jornada número {{ journeyMatch.number }} de forma aleatoria pulse continuar:</b></p>
              <button mat-raised-button class="edit-btn" (click)="onSubmitResults()">
                  <b>Continuar</b>
              </button>
          </mat-card >
      </div>
      <div *ngIf=matchesUploaded>
        Los resultados de la jornada {{ journeyMatch.number }} han sido registrados con éxito.
      </div>
      </div>

      <div *ngIf="notCompletedJourneys.length === 0">
        Ya has introducido todos los resultados de las jornadas.
      </div>
      </mat-expansion-panel>

    </mat-accordion>

    </div>

    <div class="show-info-content">
        <button *ngIf="!show"  mat-raised-button (click)="showInformation()">
            <mat-icon>info</mat-icon>
            <b>Mostrar información sobre esta competición</b>
        </button>
        <button *ngIf="show"  mat-raised-button (click)="showInformation()">
            <mat-icon>info_outline</mat-icon>
            <b>Ocultar la información</b>
        </button>
        <mat-card *ngIf="show" class="information">
            <mat-card-header>
              <mat-card-title><b>Información referente a la competición: <span class="competi-name">{{competition.name}}</span></b></mat-card-title>
              <mat-card-subtitle>Tipo: {{competition.type}}, Modo: {{competition.mode}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{competition.information}}
            </mat-card-content>
          </mat-card>
    </div>

    <div class="a-content" *ngIf="utilsService.role === 0">
      <a mat-raised-button>
        <strong>Jugar el duelo de la jornada</strong>
      </a>
    </div>
    <div class="a-content" *ngIf="utilsService.role === 1">
      <button mat-raised-button class="delete" (click)="deleteCompetition()">
        <mat-icon>delete</mat-icon>
        <strong>Eliminar competición</strong>
      </button>
    </div>

    <div class="final-button">
        <a mat-button [routerLink]="'/competitions'">
          <mat-icon mat-list-icon>navigate_before</mat-icon>
          Volver a la página de competiciones
        </a>
    </div>

  </div>
  </div>
