.teams-content{
  margin: 40px auto;
  max-width: 800px;
}

.team-card{
  background-color: lightyellow;
}

.team-list-item{
  margin: -5px auto -20px auto;
}

h3 {
  text-align: center;
  font-weight: bold;
}
