<div class="teams-content">

    <mat-card class="team-card" *ngFor="let team of teams; let i=index;">
        <mat-card-header>
          <mat-card-title><strong>{{ 'COMPETITIONS.TEAM' | translate }} {{i + 1}}: {{team.name | uppercase}}</strong></mat-card-title>
          <mat-card-subtitle>{{team.numPlayers}} {{ 'COMPETITIONS.PLAYERS' | translate }}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-list class="team-list" role="list" *ngFor="let student of allStudents[i]">
                <mat-list-item class="team-list-item" role="listitem">{{student.name}}</mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>

      <div class="final-buttons" *ngIf="competitionType === 'league'">
          <a mat-button [routerLink]="['/competition/league', competitionId]">
            <mat-icon mat-list-icon>navigate_before</mat-icon>
            {{ 'TEAMS.RETURN' | translate }}
          </a>
      </div>
      <div class="final-buttons" *ngIf="competitionType === 'tennis'">
          <a mat-button [routerLink]="['/competition/tennis', competitionId]">
            <mat-icon mat-list-icon>navigate_before</mat-icon>
            {{ 'TEAMS.RETURN' | translate }}
          </a>
      </div>

</div>
