.liga-content{
  margin: 40px auto;
  max-width: 800px;
}

a {
  background-color:#98B8FF;
  margin: 10px 0 0 0;      /* el primero es pa llevarlo pabajo, es decir margen superior */
}

.ultimo-elemento {

  margin: 0 0 30px 0;
}

.div-delete{
  margin: 30px 0 0 0;
}

.a-delete{
  background-color: #FF2A1C;
}

.mat-radio-button {
  padding-right: 30px;
}
